<footer class="h10vh bgred">
    	<form action='' method='post'>
                <p><label>Country:</label><input type='text' id="test" name='country' value='' class='auto'></p>
            </form>
</footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="./app/assets/js/jquery-ui.min.js"></script>	

    <script src="./app/assets/js/search.js"></script>
    